flask==3.0.2
pandas==2.2.1
yfinance==0.2.36
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0
numpy==1.26.4
python-dotenv==1.0.1
chromadb
fastapi
googlesearch_python
langchain
llama_index
matplotlib
openai
scipy==1.16.0rc2
seaborn
tqdm
uvicorn
